<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose a BlueTooth Device to Connect to</title>
</head>
<body>
<h2><%- message %></h2>

<a href="" >Try again or change the connection</a>

</body>
